SOAApplication/Arthematic/SOA/Schemas/Arthameticbpel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/SOAApplication/Arthematic/Arthameticbpel"
        xmlns="http://www.w3.org/2001/XMLSchema">
  
  <element name="requestSchema">
    <complexType>
      <sequence>
        <element name="inputone" type="integer"/>
        <element name="inputtwo" type="integer"/>
      </sequence>
    </complexType>
  </element>
 
 
  <element name="responseSchema">
    <complexType>
      <sequence>
        <element name="operationName" type="string"/>
        <element name="result" type="integer"/>
      </sequence>
    </complexType>
  </element>
</schema>