SOAApplication/helloworld/SOA/Schemas/req1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="practice/demo/haiworld2" targetNamespace="practice/demo/haiworld2"
     elementFormDefault="qualified">
    <xsd:element name="exampleElement">
        <xsd:annotation>
            <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="req">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="username" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
