SOAApplication/helloworld/SOA/Schemas/res1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://practice.com/demo/res1" targetNamespace="http://practice.com/demo/res1"
     elementFormDefault="qualified">
    <xsd:element name="exampleElement">
        <xsd:annotation>
            <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="res">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="wish" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
