SOAApplication/helloworld/SOA/Schemas/singleString.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/singleString" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="request">
    <complexType>
      <sequence>
        <element name="input" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="response">
    <complexType>
      <sequence>
        <element name="output" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>